{% from 'bootstrap/table.html' import render_table %}

{% macro hitter_table(hitters, summary_label) %}
  {% set summary_label = summary_label | default("Total") %}
  {{ render_table(
      hitters + [hitters.get_summary_stats(label=summary_label)],
      titles=[
        ("name", "Name"),
        ("team", "Team"),
        ("position", "Pos"),
        ("ab", "AB"),
        ("runs", "Runs"),
        ("hits", "Hits"),
        ("hr", "HR"),
        ("rbi", "RBI"),
        ("sb", "SB"),
        ("formatted_avg", "AVG"),
        ("notes", "Notes")
      ],
      table_classes="table-sm",
      responsive=True
    )
  }}
{% endmacro %}