{% from 'bootstrap/table.html' import render_table %}

{% macro pitcher_table(pitchers) %}
  {{ render_table(
      pitchers + [pitchers.get_summary_stats()],
      titles=[
        ("name", "Name"),
        ("team", "Team"),
        ("position", "Pos"),
        ("formatted_ip", "IP"),
        ("er", "ER"),
        ("wins", "W"),
        ("saves", "SV"),
        ("strikeouts", "K"),
        ("walks", "BB"),
        ("formatted_era", "ERA")
      ],
      table_classes="table-sm",
      responsive=True
    )
  }}
{% endmacro %}